{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type = 'text/css' href="{% static 'main/css/home.css' %}">
</head>
<body>
    <div id="container">
        <a href="{% url 'friends' %}">Friends</a>
        <a href="{% url 'group' %}">Group</a>
        <a href="{% url 'my_page' %}">My page</a>
    </div>
    <script>
        var windowHeight = document.documentElement.clientHeight;
        document.getElementById("container").style.height=windowHeight + "px";
    </script>
</body>
</html>
