{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type = 'text/css' href="{% static 'main/css/index.css' %}" >
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <title>ようこそ、GraphChatへ</title>
    </head>
    <body>
        <div id="container">
            <a href="login">Login</a>
            <a href="signup">Sign up</a>
        </div>
        <script>
            var windowHeight = document.documentElement.clientHeight;
            document.getElementById("container").style.height=windowHeight + "px";
        </script>
    </body>
</html>
