<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signup.css" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>ようこそ、GraphChatへ</title>
</head>
<body>
    <form method="post" action="{% url 'signup' %}" >
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
            </tr>
            <tr>
                <td>{{ form.img.label_tag }}</td>
                <td>{{ form.img }}</td>
            </tr>
        </table>
        {% csrf_token %}
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'index' %}">戻る</a>
</body>
</html>
