{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type = 'text/css' href="{% static 'main/css/topic.css' %}" />
</head>
<body>
    {% if partnerUser.image %}
        <img src="{{partner_image.image.url}} ">
    {% else %}
        <h3> {{partnerUser.username}} </h3>
        <br>
    {% endif %}

    {% if topic %}
        {% for topic in topic %}
            <p>{{topic.talk}}</p>
            <br>

        {% endfor %}

    {% endif %}


    <form method="POST" action="{% url 'topic' id %}" >
        {% csrf_token %}
        <p>+</p>
        <p>{{form}}</p>
        <input type="submit" value="click">
    </form>

    <a href="{% url 'friends' %}">戻る</a>
    

</body>
</html>